.headshot{
    max-height: 100%;
    max-width: 24%;
    align-self: center;
}

.quote{
    align-self:center ;
    max-width: 75%;
}

#leftPage, #rightPage{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}