  body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url(./../Assets/Images/harp/cloudBackground.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .scrapbook {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .page {
    background-image: url(./../Assets/Images/bookBackground.webp);
    width: 450px;
    margin: 0px;
    border: 5px solid #6f461d; /* Binding edge */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    position: relative;
  }
  
  .page:first-child {
    border-right: 3em;
  }
  
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .title h1 {
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    flex: 1;
  }

  .titlePicture {
    width: 100px; 
    height: auto;
  }

  .polaroidPicture, .postItPicture{
    width: 200px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .polaroidPicture{
    position: absolute; 
    top: 0px; 
    right: 0px; 
    z-index: 1;
  }

  .postItPicture{
    width: 250px;
  }
  
  .icon {
    width: 30px;
    height: 30px;
  }

  .taken-picture{
    width: 12.1em;
  }

  .post-it{
    background-image: url(../Assets/Images/harp/postIt.png);
  }

  .picture-frame{
    position: relative;
  }

  .ontop{
    z-index:1;
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
  .image-frame {
    width: 200px;
    height: 200px;
    background: #000; /* Placeholder for images */
    position: relative;
    border: 5px solid #fff;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
  }
  
  .image-frame::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 20px;
    background: #d2a874;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    z-index: -1;
  }
  