html,body{

    width: 100%;
}

#leftPage{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;

}

#leftPage img{
    height: 25%;
}

#rightPage{
    width: 100%;
}