/*===General modifications===*/

h1,
h2,
h3,
h4 {
    margin: 0;
}

img{
    width:100%;
    height:100%;
}

/*===Left side===*/

#leftPage {
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 1em;
}

.group-photo-outer-container {
    border: 0.5em solid white;
    border-radius: 1.5em;
}

.group-photo {
    border-radius: 1em;
}

.rules {
    flex-direction: column;
}

.rules-inner-container {
    width: 75%;
}

/*===Right side===*/

#rightPage {
    display: flex;
    align-items: center;
    flex-direction: column;

    max-width: 49%;
}

.second-entry-outer-div,
.conclusion-outer-div {
    width: 90%;

    margin-top: 1em;
}

.progress-imgs-outer-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:2em;

    margin-top: 1em;
}

.progress-img {
    border: 0.5em solid white;
    border-radius: 1em;
}

.conclusion-outer-div{
    margin-top: 3em;
    margin-bottom: 1em;
}