/*===General modifications===*/

body {
    
}

p.div{
    font-size: 0.75rem;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
}

/*===Left side===*/

#leftPage,
#rightPage {
    justify-content: space-between;
}

.header {
    width: 95%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.title {
    font-size: xx-large;
}

.first-entry-wrapper {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    gap: 1em;

    width: 95%;
}

.conclusion-img-div {
    border: 0.5em solid white;
    border-radius: 1.5em;
    height: 80%;
    width: 100%;
}

.conclusion-img-div img {
    border-radius: 1em;
}

.rules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    width: 95%;

    margin-bottom: 1em;
}

.rules-inner-container {
    width: 75%;

    margin: 0;

    margin-bottom: 0.2em;
}

/*===Right side===*/

.second-entry{
    background-color: white;
    padding: 2%;
    border-radius: 10%;
}

.second-entry-outer-div,
.conclusion-outer-div {
    width: 90%;

    margin-top: 1em;
}

.progress-imgs-outer-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;

    margin-top: 1em;
}

.progress-img {
    border: 0.5em solid white;
    border-radius: 1em;
}

.conclusion-outer-div {
    margin-top: 2em;

    width: 90%;
}