body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#fullBook {
    display: grid;
    grid-template-columns: 0.05fr 0.95fr;
    margin: 1em;
}

#restOfBook {
    flex-direction: column;
}

#book {
    justify-content: space-between;
    width: 80vw;
    height: 75vh;
    /* background-color: #FADFAD; */
    background-image: url(../Assets/Images/bookBackground.webp);
}

#middle {
    width: 1em;
    height: 100%;
    background-color: #964B00;
}

#leftPage {
    height: 100%;

}

#rightPage {
    height: 100%;
}


#homeBookmark a,
#leftBookmarks a,
#rightBookmarks a {
    background-color: gold;
}

#homeBookmark {
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 4rem;
    margin-right: -1.5rem;
}

#home {
    transform: rotate(270deg);
}

#bookmarks,
#leftBookmarks,
#rightBookmarks {
    width: 100%;
}

#bookmarks nav,
#leftBookmarks,
#rightBookmarks {
    justify-content: space-between;
}

#leftBookmarks {
    margin-right: 5em;
}

#rightBookmarks {
    margin-left: 5em;
}

