/*----------------------------------------------------------------------Book-------------------------------------------------------------*/

#fullBook {
    display: grid;
    grid-template-columns: 0.05fr 0.95fr;

    width: 50vw;
    height: 75vh;
}

#restOfBook {
    flex-direction: column;
}

#book {
    justify-content: space-between;
    width: 100%;

    background-color: #FADFAD;
}

#middle {
    width: 1em;
    /*TBD*/
    height: 100%;
    background-color: #964B00;
}

/*Leaving the display prop unset for more flexibility/customization*/
#leftPage {
    width: 100%;
    height: 100%;
}

#rightPage {
    width: 100%;
    height: 100%;
}

/*----------------------------------------------------------------Bookmarks--------------------------------------------------------------*/

#homeBookmark a,
#leftBookmarks a,
#rightBookmarks a {
    background-color: gold;
}

#homeBookmark {
    width: 100%;
    height: 100%;
}

/*Need to figure this out*/
#home {
    transform: rotate(270deg);
}

#bookmarks,
#leftBookmarks,
#rightBookmarks {
    width: 100%;
}

#bookmarks nav,
#leftBookmarks,
#rightBookmarks {
    justify-content: space-between;
}

#leftBookmarks {
    margin-right: 5em;
}

#rightBookmarks {
    margin-left: 5em;
}