
#leftPage {
    width: 100%;
    height: 75vh;
    margin: 1%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
}

.ImageTextCombo
{
    display: flex;
    width: 25rem;
    max-height: 25%;
    padding: 5%;
    border: 0.5rem;
    background-color: green;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
}
.ImageTextCombo img{
    max-height: 15rem;
    max-width: 22rem;
    padding: 2%;
}

.ImageTextCombo p{
    margin: 0%;
    width: fit-content;
}

#leftPage header {

    font-size: larger;
    padding-left: 5%;
    
}
.legend {
    width: 75%;
    padding: 5%;
    margin: 5% auto 5% auto;
    background-color: #fff;
    border: 0.1rem solid #ddd;
    border-radius: 10%;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
    font-size: 0.9em;
    color: #555;;
    cursor: default;

}

.legend li{
    cursor: pointer;
}

.legend li:hover{
    background-color: violet;
}

.legend h4 {
    margin-top: 0;
    font-size: 1.1em;
    color: #3498db;
}

.legend ul {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
}

.legend li {
    margin-bottom: 3%;
    width: 10vw;
    margin: 5px;
}

.legend li span {
    display: inline-block;
    width: 8%;
    height: 50%;
    margin-right: 1%;
    border-radius: 50%;
}

#rightPage {
    width: 100%;
    height: 75vh; /* Make sure the height is enforced */
    display: grid;
    grid-template-columns: auto auto auto; /* Middle column auto-sizes */
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
}

#cobbleRoad {
    grid-column: 2; /* Keep it in the middle column */
    grid-row: 1 / -1; /* Make it span all rows */
    width: 100%; /* Fill the middle column */
    height: 100%; /* Ensure it stretches full height */
    align-self: stretch; /* Enforce full height */
    display: block; /* Make sure it's not inline */
    object-fit: cover; /* Ensures it scales properly */
}


#rightPage::-webkit-scrollbar {
    display: none;
  }

.rightText{
    grid-column:3 ;
}

.rImg{
    max-height: 25vh;
    width: 50%;
}

#leftContent{
    display: flex;
    padding: 3%;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}

#rightContent{
    display: flex;
    padding: 3%;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}

#rightPage p{
    max-height: 25vh;
    padding: 3%;
    margin: auto auto 5% auto;
    margin-bottom: 10%;
    margin-top: 10%;
    background-color: #fff;
    border: 0.1rem solid #ddd;
    border-radius: 10%;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
    font-size: 0.9em;
    color: #555;
}



@media screen and (max-width: 1050px) {
    .ImageTextCombo{
        flex-direction: column-reverse;
        max-width: 56vw;
        max-height: 100%;
    }
}