
body, html {

    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    overflow: hidden;
}
#leftPage {
    width: 30.5rem;
    height: 75vh;
    margin: 1%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ImageTextCombo
{
    display: flex;
    width: 25rem;
    max-height: 25%;
    padding: 5%;
    border: 0.5%;
    background-color: green;
    border-radius: 5%;
    
}
.ImageTextCombo img{
    max-height: 15rem;
    max-width: 22rem;
    padding: 2%;
}

.ImageTextCombo p{
    margin: 0%;
    width: fit-content;
}

#leftPage header {
    display: flex;
    align-items: center;
    font-size: larger;
    padding-left: 5%;
    
}
.legend {
    width: 75%;
    padding: 5%;
    margin: 5% auto 5% auto;
    background-color: #fff;
    border: 0.1rem solid #ddd;
    border-radius: 10%;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
    font-size: 0.9em;
    color: #555;;
    cursor: default;
}

.legend h4 {
    margin-top: 0;
    font-size: 1.1em;
    color: #3498db;
}

.legend ul {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
}

.legend li {
    display: flex;
    align-items: center;
    margin-bottom: 3%;
    width: 10vw;
    margin: 5px;
}

.legend li span {
    display: inline-block;
    width: 8%;
    height: 50%;
    margin-right: 1%;
    border-radius: 50%;
}

#rightPage{
    width: 30.5rem;
    height: 90vh;
    display: grid;
    grid-template-columns:  14rem 1rem 14rem;
    overflow-y: scroll;
    overflow-x: hidden;
}


.rightText{
    grid-column:3 ;
}

.rImg{
    max-height: 25vh;
    width: 50%;
}

#leftContent{
    display: flex;
    padding: 3%;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}

#rightContent{
    display: flex;
    padding: 3%;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}

#rightPage p{
    max-height: 25vh;
    padding: 3%;
    margin: auto auto 5% auto;
    margin-bottom: 10%;
    margin-top: 10%;
    background-color: #fff;
    border: 0.1rem solid #ddd;
    border-radius: 10%;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
    font-size: 0.9em;
    color: #555;
}

#cobbleRoad{
    height: auto;
    content: "";
    grid-column-start: 2;
    grid-row-start: 1;
    max-width: 10rem;
}
