.VideoDescription 
{
   width: 350px;                       
   background-color: #E5CDA0;
} 
.TextBox{
   width: 530px;  
}

#leftPage img{
    overflow: hidden;
    object-fit: cover;
    padding-left: 10%;
}
#leftPage p{
    padding-left: 10%;
    width: 75%;
}

iframe{
    width: 25vw;
    height: 40vh;
}
#leftPage{
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#leftPage .content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: space-around;
}

#rightPage{
    
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#rightPage .content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    padding: 10%;
    padding-top: 1%;
    justify-content: space-around;
    align-items: center;

}



@media screen and (max-width: 1050px)  {
    iframe{
       height: 40vh;
        overflow: hidden;
        object-fit: cover;
    }
    #rightPage .content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
        padding: 10%;
        justify-content: space-around;
    }
}